body{
    margin: 0%;
}

/*Navs*/
.topnav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(16, 9, 41);
    color: white;
    padding: 15px;
    padding-left: 40px;
}

.leftnav1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rightnav1{
    padding-right: 40px;
}

.rightnav1 a{
    text-decoration: none;
    color: white;
}

.rightnav1 a:hover{
    text-decoration: underline;
    color: #56a5eb
}

.belowdiv{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.logo {
    padding: 20px 50px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 1px;
    color: #56a5eb;

}

.logo:hover {
    text-shadow: 0px 0px 2px rgb(15, 155, 248);
}


.navs{
    padding-top: 35px;
    text-transform: capitalize;
    
}

.navs a{
    text-decoration: none;
    padding-right: 20px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    
}
.nav1{
    display: inline;
    
}

.navs a:hover{
    padding: 35px 10px 54px 10px;
    background-color: #56a5eb;
    color: white;
}


.quotebtn input[type="button"]{
    height: 45px;
    width: 130px;
    background-color: #56a5eb;
    color: white;
    border: none;
    margin-top: 25px;
    margin-right: 60px;
    font-size: 1em;

}

/*Legend Styling*/

.bannertxt{
    position: relative;
    background-color: black;
    height: 500px;
}

.banner{
    width: 100%;
    height: 500px;
    opacity: 0.2;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: cente
    r;
}

.btxt{
    position: absolute;
    top: 80px;
    left: 250px;
   

}

.btxt h3{
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 0;
    color: #56a5eb;
    font-family: Arial;

}

.btxt h1{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 80px;
    font-family: Arial;
    margin-top: 0;
    color: white;
}

.search{
    position: absolute;
    bottom: 150px;
    left: 400px;
    display: flex;
}

.searchbar input[type="text"]{
    height: 55px;
    width: 450px;
    padding-left: 30px;
    border: 0px;
    box-sizing: border-box;
   
}


.searchbtn input[type="button"]{
    height: 55px;
    width: 100px;
    background-color: #56a5eb;
    color: white;
    text-align: center;
    outline-offset: 0px;
    border: 0px;
    box-sizing: border-box;
}

.searchbtn input[type="button"]:hover{
    background-color: #56a5eb;
    color: white;
    opacity: 0.9;
}

/*About Banner*/

.aboutbanner{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rightaboutbanner{
    height: 50px;
    width: 450px;
    margin: 100px 0px 100px 100px;
}
.aboutbannerpix{
    height: 350px;
    width: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repe
    at;
    
}

.exptext{
    font-family: Arial;
    font-weight: 600;
    text-align: center;
   background-color: #56a5eb;
    padding: 30px;

    font-size: 25px;
}

.leftaboutbanner{
    margin: 100px 100px 100px 0px;
    margin-top: 150px !important;
}

.abttxt1{
    text-transform: uppercase;
    font-family: Arial;
    color: #56a5eb;
    font-weight: 600;
    
}

.abttxt2{
    text-transform: capitalize;
    font-family: Arial;
    color: black;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.abttxt3{
    color: grey;
    font-family: Arial;
    text-align: justify;
    line-height: 25px;
}

.abttxt3 a{
    text-decoration: none;
    color: #56a5eb;
}

#quotebanner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    background-color: whitesmoke;
    height: 450px;
    padding-left: 100px;

}
.leftquotetext{
    margin-top: 50px;
}

.qbtxt1{
    text-transform: uppercase;
    font-family: Arial;
    color: #56a5eb;
    font-weight: 600;
}

.qbtxt2{
    text-transform: capitalize;
    font-family: Arial;
    color: black;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
}

.qbtxt3{
    color: grey;
    font-family: Arial;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 30px;
}

.qbtxt4{
    font-family: Arial;
    color: #56a5eb;
    font-size: 40px;
    font-weight: 900;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.qbtxt5{
    color: black;
    font-family: Arial;
    text-align: justify;
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rightquotetext{
    background-color: #56a5eb;
    margin-right: 120px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    
}

.quoteform{
    display: grid;

    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    justify-content: center;
}

.quoteform input[type="text"]{
    height: 50px;
    width: 300px;
    padding-left: 30px;
    border: 0px;
}
.quoteform input[type="email"]{
    padding-left: 30px;
    border: 0px;
}

.quoteform input[type="button"
]{
    border: 0px;
    height: 55px;
    background-color: rgb(46, 45, 45);
    color: white;
    font-size: 1em;
    
}

.quoteform input[type="button"]:hover{
    background-color: black;
    color: white;
}

.service{
    margin-top: 80px;
    margin-bottom: 100px;
}

.srvtxt{
    color: #56a5eb;
    font-family: Arial;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
}

.srvtxt2{
    text-transform: capitalize;
    font-family: Arial;
    color: black;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.srvbtntxt{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin: 20px 80px;
}

.srvbtntxt input[type=button]{
    height: 60px;
    width: 250px;
    background-color: #56a5eb;
    color: white;

    font-size: 1em;
    font-weight: 400;
    border: 0px;
    margin-bottom: 20px;

}

.btntxt1i{
    color: grey;
    font-family: Arial;
    text-align: center;
    line-height: 25px;
    width: 250px;
    margin-bottom: 20px;
}

.btnlnk a{
    color: #56a5eb;
    text-decoration: none;
    border-bottom: 1px solid rgb(221, 221, 221);
    font-family: Arial;
    margin-left: 90px;
}

.choose{
    background-color: whitesmoke;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.leftchoose{
    margin-left: 100px;
    margin-right: 0px;
}

.chooseimg{
    height: 550px;
    width: 100%;
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
}

.rightchoose{
    margin: 100px 100px 0px 0px;
}

.rightchtxt1{
    text-transform: uppercase;
    font-family: Arial;
    color: #56a5eb;
    font-size: 1em;
    font-weight: 600;
}

.rightchtxt2{
    text-transform: capitalize;
    font-family: Arial;
    color: black;
    font-size: 40px;
    font-weight: 900;
}

.rightchtxt3{
    color: grey;
    font-family: Arial;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 30px;
}

.rightchtxt4{
    color: black;
    font-size: 1.2em;
    line-height: 25px;
}

.pricingplan{
    margin-top: 80px;

}

.plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px 120px;
    gap: 2em;
    height: 470px;
}

.plan1{
    background-color: whitesmoke;
    color: black;
    
    text-align: center;
}

.plan2{
    background-color: whitesmoke;
    color: black;
    
    text-align: center;
}

.plan3{
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.plan3i{
    color: black;
    font-size: 50px;
    font-family: Arial;
    font-weight: 900;
    margin: 20px 0px 0px 0px !important;
    
}

.plan3i > sub{
    color: grey; 
    font-size: 20px;
    margin-left: 0px !important;
    font-weight: 100 !important;
}

.plan3i > sup{
    color: grey; 
    font-size: 20px;
    font-weight: 100 !important;
}

.plan3ii{
   background-color: #56a5eb;
   color: black;
   font-size: 25px;
   font-weight: 700; 
   font-family: Arial;
   padding: 25px 0px;
   margin: 30px 0px;
   
}

.plan3iii{
    color: grey;
    font-family: Arial;
    margin-bottom: 20px;
}

.plan3iv{
    color: grey;
    font-family: Arial;
    margin-bottom: 20px;
}

.plan3v{
    color: grey;
    font-family: Arial;
    margin-bottom: 20px;
}

.plan3vi{

    color: grey;
    font-family: Arial;
    margin-bottom: 20px;
}

.planbtn input[type=button]{
    background-color: #56a5eb;
    color: white;
    height: 40px;
    width: 130px;
    border: 0px;
    font-family: Arial;
    font-size: 1em;
    margin-top: 10px;
}
.deliveryteam{
    margin-top: 80px;
}

.teamviews{
    display: flex;
    justify-content: center;
    column-gap: 2em;
    margin-top: 30px;
}

.teamview{
    position: relative;
}

.team1{
    height: 250px;
    width: 250px;
    background-size: cover;

    background-position: center;
    background-repeat: no-repeat;

}

.teamnamei{
    background-color: whitesmoke;
    padding: 2px;
    text-align: center;
    border-bottom: 5px solid #56a5eb;
}

.teamnamei h3{
    font-size: 1.3em;
    font-weight: 600;
}

.teamnamei h4{
    color: grey;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.blogi{
    margin-top: 100px;
    margin-bottom: 30px;
}

.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}


.blogimg{
    height: 380px;
    width: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogblw{
    background-color: whitesmoke;
    height: 300px;
    width: 550px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
}

.userimg{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

}

.date{
    height: 50px;
    width: 50px;
    font-size: 1.2em;
    font-family: Arial;
    background-color: #56a5eb;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    right: 5px;
}

.bloguser{
    display: flex;
    gap: 1em;
}

.usertxt{
    padding-top: 14px;
    display: flex;
    gap: 2em;
    color: grey;
    font-family: Arial;
}

.usertitle{
    font-family: Arial;
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px 0px;
}

.usercontent{

    font-family: Arial;
    color: grey;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.userlink{
    text-transform: uppercase;
}

.userlink a{
    color: #56a5eb;
    font-size: 1.1em;
    font-weight: 100;
}

.footer{
    background-color: #1F1F2E;
    height: 300px;
    margin-top: 80px;
    padding: 100px 50px 0px 50px ;
    display: flex;
    justify-content: space-between;
   
}

.intouchi{
    color: #56a5eb;
    font-size: 2em;
    font-weight: 600;
    font-family: Arial;
    margin-bottom: 20px;
}

.intouch .intouchii{
    color: white;
    font-size: 1em;
    font-family: Arial;
    line-height: 2.5em;
}


.nav2{
    font-size: 1em;
    font-family: Arial;
    line-height: 2em;
}

.nav2 a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 1em;
}

.nav2 a:hover{
    border-bottom: 1px solid white;
    color: #56a5eb;
}

.news{
    color: white;
    font-size: 1em;
    font-family: Arial;
    margin-bottom: 5px;
}

.input{
    display: flex;
    margin-top:  20px;
}

.input input[type=text]{
    height: 60px;
    width: 370px;
    padding-left: 30px;
    border: 0px;
    box-sizing: border-box;
}

.input input[type=button]{
    background-color: #56a5eb;
    color: white;
    height: 60px;
    width: 100px;
    border: 0px;
    font-size: 1em;
    font-family: Arial;
    box-sizing: border-box;
}

.finalfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F1F2E;
    border-top: 0.1px solid whitesmoke;
    padding: 20px 50px;
}

.lfinalfooter{
    display: flex;
    justify-content: center;
    gap: 1em;
}


.lfinalfooterii{
    font-size: 1em;
    font-family: Arial;
    color: white;
}

.lfinalfooteriii{
    font-size: 1em;
    font-family: Arial;
    color: white;
}

.lfinalfooteriv{
    font-size: 1em;
    font-family: Arial;
    color: #56a5eb;
}

.Rfinalfooter{
    display: flex;
    gap: 2em;
}

.Rfinalfooter a{
    text-decoration: none;
    font-size: 1em;
    font-family: Arial;
    color: white;
}

.Rfinalfooter a:hover{
    text-decoration: underline;
    color: #56a5eb;
}